.App {
  text-align: center;
  direction: rtl;
}

.productPage
{
  margin: 20px auto !important;
  width: max-content;
}

.header-grid>*
{
 font-size: 15px;
 font-weight: bold;
 color: rgb(10, 10, 97);
 padding: 20px;
 width: max-content;
}
.productPage img
{
 width: 100px;
 height: 80px;
 margin: 10px auto;
}
.productPage input{
  width: 40px;
}
.image-column
{
  background-color: rgb(10, 10, 97);
  width: 120px !important;
  height: 100px !important;
  padding: 0 !important;

}
.Header
{
  background-color:rgb(10, 10, 97);
  width: 100vw;
  height: 80px;

}
.Header img{
  width: 100px;
  height: 40px;
  position: absolute;

}
.Header p{
  margin: auto;
  width: max-content;
  font-size: 40px;
  font-weight: bold;
  color: rgb(101 171 243);
 text-shadow: 2px 2px  white;
}
.total
{
  background-color: #0a0a61;
  color: aliceblue;
  width: max-content;
  margin: 0 auto;

}
.total td
{
  border:aliceblue 2px solid;
}
.send 
{
  border: rgb(10, 10, 97) 2px solid;
  background-color: rgb(118, 223, 255);
  border-radius: 12px;
  color: rgb(10, 10, 97);
}
.taple-pdf
{
  width:794px;
  margin: 0 auto;
}
table td,table th
{
  border: rgb(10, 10, 97) 2px solid;
}

@media only screen and (max-width:800px) {
  h1
  {
    width: max-content;
    margin: 0 40vw;
  }
  table>*
  {
    padding: 0 ;
    margin: 0;
  }
  table tr {
  width: 100vw !important;
  }
  table img,.productPage img,.image-column
  {
   width: 16vw !important;
   height: 12vw !important;
  }
  thead th ,tbody td
  {
    width: 16vw !important;
  }

.total
{
  width: max-content;
  margin: 0 15vw;
}

.header-grid>*
{
 font-size: 15px;
 font-weight: bold;
 color: rgb(10, 10, 97);
 padding: 0;
 width: 15vw;
}


}